# Copia este archivo como .env y completa los valores para tu entorno

# Base de datos
DB_URL=jdbc:mariadb://localhost:3306/banquito_core?serverTimezone=America/Guayaquil
DB_USERNAME=root
DB_PASSWORD=

# JPA / Hibernate
JPA_DDL_AUTO=update
JPA_SHOW_SQL=false
